*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #b847be;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text {
    margin-top: 10%;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: #fff;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-text h1 span{
    color: #fff;
}
.header-text h2{
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* -----------about--------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 20%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 5px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #b847be;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: circle;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b847be;
    font-size: 20px;
}
.tab-contents{
    display:none
}
.tab-contents.active-tab{
    display: block;
}

/* ----------------certifications------------- */
#Certifications{
    padding: 30px 0;
}
.Certifications-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 40px;
    margin-top: 40px;
}
.Certifications-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
/*.Certifications-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}*/
.Certifications-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.Certifications-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.Certifications-list div:hover{
    background: #b847be;
    transform: translateY(-10px);
}
/* -------portfolio----------- */
#Projects{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
/*.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
/*.work img{
    width: 100%;
    border-radius: 20px;
    display: block;
    transition: transform 0.5s;
}
/*.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #b847be);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    font-size: 10px;
   /*transition: height 0.5s;*/
/*}*/
.work-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.work-list div h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.work-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    
}
/*.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}*/
/*.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #b847be;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
/*.btn:hover{
    background: #b847be;
}*/
.work-list div:hover{
    background: #b847be;
    transform: translateY(-10px);
}

/* ---------contact-------- */

#Contact{
    padding: 50px 0;
}
.contact-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.contact-list div{
    background: #262626;
    padding: 10px;
    font-size: 10px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    text-align: center ;
}
.contact-list div h2{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact-list div a{
    text-decoration:none;
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
    display:inline-block;
}
    
.contact-list div i{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;

}
.contact-list div:hover{
    background: #b847be;
    transform: translateY(-10px);
}
/*.row{
    margin-top: 50px;
    padding: 50px;
}
.row div{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.row i{
    color: #b847be;
    margin-right: 15px;
    font-size: 100px;
}

.row a{
    text-decoration:double;
    font-size: 100px;
    margin-right: 100px;
    color: #ababab;
    display:grid;
    transition: transform 0.5s;
}
.row a:hover{
    color: #fff;
    transform: translateY(-10px);
}
/*.btn.btn2{
    display: inline-block;
    background: #b847be;
}
/*.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/*.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/*.copyright i{
    color: #ff004f;
}
.copyright a{
    color: #ff004f;
    text-decoration: none;
}
/* -----------------css for small screens--------- */
nav .fas{
    display: block;
    font-size: 30px;
}
nav ul{
    background: #262626;
    position: fixed;
    top: 0;
    right: -200px;
    width: 140px;
    height: 80vh;
    padding-top: 80px;
    z-index: 3;
    transition: right 0.5s;
}
nav ul li{
    display: block;
    margin: 25px;
    
}
nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.sub-title{
    font-size: 40px;
}
.about-col-1, .about-col-2{
    flex-basis: 40%;
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(Personal-portfolio\images\logo.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #b847be;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
